/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(9,200px);
	display:flex;

.grid-item{
	height:150px;
   border-radius:5px;
	font-size:40px;
	background-color:lightgray;
	
}