/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(9,200px);
	gap:10px;

.grid-item{
	height:150px;
   border-radius:5px;
background-color:rgb(211,211,211);
	width:200px;
   display:flex;
	justify-content:center;
	align-items:center;
	font-size:40px;
	
}